{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "last 2 Chrome version",
        "useBuiltIns": "usage",
        "corejs": "3.6"
      }
    ], 
    "@babel/preset-react"
  ]
}
